node_modules
dist
dist-native
.turbo
.sisyphus
.DS_Store
coverage
pnpm-lock.yaml
*.tsbuildinfo
%TEMP%/
nul
apps/mobile/.swc/
apps/mini-program/.swc/
packages/*/src/**/*.js
packages/*/src/**/*.d.ts
packages/*/src/**/*.d.ts.map
